form {
  width: 400px;
  margin: 0 80px 0 auto;

  input,
  button {
    border-radius: 5px;
  }

  label {
    text-transform: uppercase;
    margin-bottom: 5px;
    color: hsl(278, 68%, 11%);
    font-size: 14px;
  }

  input {
    padding: 10px 15px;
    margin-bottom: 5px;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 18px;
    border: 1px solid hsl(279, 6%, 55%);

    &:focus {
      border-color: hsl(239.18, 96.08%, 70%);
      outline: none;
    }
  }

  small {
    color: hsl(0, 100%, 66%);
    font-size: 12px;
  }

  button {
    width: 100%;
    padding: 15px 0;
    font-size: 18px;
    border: none;
    background-color: hsl(278, 68%, 11%);
    color: hsl(0, 0%, 100%);
    cursor: pointer;
  }
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  position: relative;
  height: 90px;

  .danger{
    border-color: hsl(0, 100%, 66%);
  }
}

.inline-input {
  display: flex;
}

.inline-form-group {
  display: flex;

  .cvc {
    width: 152px;
  }
}

.expire-date {
  margin-right: 10px;

  input {
    width: 60px;
    margin-right: 10px;
  }
}
